<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.CustomTaggerSettings" 
                               description="CustomTagger settings items" 
                               dependencies="Foundation.Serialization" 
                               patch:after="configuration[@name='Foundation.Serialization']"
                               extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" 
                               singleInstance="true">
                        <include name="LV.Foundation.CustomTagger.Templates" 
                                 database="master" 
                                 path="/sitecore/templates/foundation/CustomTagger" />
                        <include name="LV.Foundation.CustomTagger.System.Modules"
                                 database="master"
                                 path="/sitecore/system/Modules/CustomTaggerSettings" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>