<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getLookupSourceItems>
                <processor patch:before="processor[1]"
                           type="LV.Foundation.AI.CustomCortexTagger.Settings.Processors.ProcessDependentUponSource, LV.Foundation.AI.CustomCortexTagger.Settings" />
            </getLookupSourceItems>
        </pipelines>
      <services>
          <register serviceType="LV.Foundation.AI.CustomCortexTagger.Settings.Services.ICustomTaggerSettingService, LV.Foundation.AI.CustomCortexTagger.Settings" 
                implementationType="LV.Foundation.AI.CustomCortexTagger.Settings.Services.CustomTaggerSettingService, LV.Foundation.AI.CustomCortexTagger.Settings" />
      </services>
  </sitecore>
</configuration>