<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <getLookupSourceItems>
                <processor patch:before="processor[1]"
                           type="LV.Foundation.AI.CustomCortexTagger.Settings.Processors.ProcessDependentUponSource, LV.Foundation.AI.CustomCortexTagger.Settings" />
            </getLookupSourceItems>
        </pipelines>
        <services>
            <register serviceType="LV.Foundation.AI.CustomCortexTagger.Settings.Services.ICustomTaggerSettingService, LV.Foundation.AI.CustomCortexTagger.Settings"
                      implementationType="LV.Foundation.AI.CustomCortexTagger.Settings.Services.CustomTaggerSettingService, LV.Foundation.AI.CustomCortexTagger.Settings" />
        </services>
        
        <customTagger type="LV.Foundation.AI.CustomCortexTagger.Settings.Models.CustomTaggerSitesMappingsModel, LV.Foundation.AI.CustomCortexTagger.Settings">
            <!-- For multisite solution add here site to tagger mapping, this allows you to define different tags root items, or different tags template per site-->
            <sitesMappings hint="raw:AddCustomTaggerSitesMappings">
                <site name="website" settingsItemPath="/sitecore/system/Modules/CustomTaggerSettings"/>
            </sitesMappings>
        </customTagger>
    </sitecore>
</configuration>