<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <group name="ContentTagging" groupName="ContentTagging">
                <pipelines>
                    <tagContent>
                        <processor patch:instead="processor[contains(@type, 'StoreTags')]" type="LV.Feature.AI.CustomCortexTagger.Pipelines.StoreTags, LV.Feature.AI.CustomCortexTagger" resolve="true" />
                    </tagContent>
                </pipelines>
            </group>
        </pipelines>
        
        <contentTagging>
            <providers>
                <tagger>
                    <add name="CustomizableTagger" type="LV.Feature.AI.CustomCortexTagger.Providers.CustomizableTagger,LV.Feature.AI.CustomCortexTagger" />
                </tagger>
                <taxonomy>
                    <add name="CustomizableTaxonomyProvider" type="LV.Feature.AI.CustomCortexTagger.Providers.CustomizableTaxonomyProvider,LV.Feature.AI.CustomCortexTagger" />
                </taxonomy>
            </providers>

            <configurations>
                <config name="Default">
                    <tagger>
                        <provider name="DefaultTagger">
                            <patch:attribute name="name">CustomizableTagger</patch:attribute>
                        </provider>
                    </tagger>
                    <taxonomy>
                        <provider name="DefaultTaxonomyProvider">
                            <patch:attribute name="name">CustomizableTaxonomyProvider</patch:attribute>
                        </provider>
                    </taxonomy>
                </config>
            </configurations>
        </contentTagging>
    </sitecore>
</configuration>

