<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <contentTagging>
            <providers>
                <tagger>
                    <add name="CustomizableTagger" type="LV.Feature.AI.CustomCortexTagger.Providers.CustomizableTagger,LV.Feature.AI.CustomCortexTagger" />
                </tagger>
                <taxonomy>
                    <add name="CustomizableTaxonomyProvider" type="LV.Feature.AI.CustomCortexTagger.Providers.CustomizableTaxonomyProvider,LV.Feature.AI.CustomCortexTagger" />
                </taxonomy>
            </providers>

            <configurations>
                <config name="Default">
                    <tagger>
                        <provider name="DefaultTagger">
                            <patch:attribute name="name">CustomizableTagger</patch:attribute>
                        </provider>
                    </tagger>
                    <taxonomy>
                        <provider name="DefaultTaxonomyProvider">
                            <patch:attribute name="name">CustomizableTaxonomyProvider</patch:attribute>
                        </provider>
                    </taxonomy>
                </config>
            </configurations>
        </contentTagging>
    </sitecore>
</configuration>

